<body>
    <!--
    <video autoplay muted loop id="bg-video">
        <source src="video/gfp-astro-timelapse.mp4" type="video/mp4">
    </video>
    -->
    <div class="page-container">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <div class="cd-slider-nav">
              <nav class="navbar navbar-expand-lg" id="tm-nav">
                <a class="navbar-brand" href="index.html">Astro Motion</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-supported-content" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbar-supported-content">
                    <ul class="navbar-nav mb-2 mb-lg-0">
                      <li class="nav-item"><a class="nav-link" href="index.html" data-no="1">Home</a>
                      </li>
                      <li class="nav-item"><a class="nav-link" href="gallery.html" data-no="1">Gallery</a>
                      </li>
                      <li class="nav-item"><a class="nav-link" href="about.html" data-no="1">About</a>
                      </li>
                      <li class="nav-item"><a class="nav-link" href="blog.html" data-no="1">Blog</a>
                      </li>
                      <li class="nav-item"><a class="nav-link" href="contact.html" data-no="1">Contact</a>
                      </li>
                    </ul>
                  </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid tm-content-container">
